/* ​* *​ *​ *​ o* ​* */
/*​              ​*/
/*​   Contato    ​*/
/*​              ​*/
/*​ ​* *​ *​ *​ o* * */

#contato {
	#section1 {
		position: relative;
	    border-top-style: solid;
	    border-bottom-style: solid;
	    border-width: 20px;
	    border-color: #fff;
		.img {
			background: url(../img/contato.jpg);
			background-size: cover;
			border-color: #fff;
			border-right-style: solid;
			border-width: 10px;
			display: flex;
			min-height: 800px;
			padding: 20px 80px;
			text-align: center;
	    	h2 {
				margin: auto;
				color: #dbfb02;
				font-size: 70px;
				font-weight: 600;
	    	}
		}
		.form {
			min-height: 800px;
		    background: $blue;
		    border-left-style: solid;
		    border-width: 10px;
	    	border-color: #fff;
			padding: 65px 80px 20px 80px;

		div#unsuccess-form {
		    background-color: rgb(253, 99, 99);
		}

		#unsuccess_form_email {
		    padding: 0; 
		    color: rgb(253, 99, 99);
		}		
	
			.title {
				text-align: center;
				h1 {
					font-size: 35px;
					font-weight: 600;
					color: $black;
					margin-bottom: 20px;
				}
				p {
					font-size: 16px;
					font-family: $source;
					color: $black;
					margin-bottom: 20px; 
				}
			}
			#mailing-form {

				.form-group {
				    margin-bottom: 25px;
				}
				.select-city {
					padding-right: 0px;
					@media(max-width:1200px){
						padding: 0;
						margin-top: 20px;
					}
				}
				.select-state {
					padding-left: 0px;
					@media(max-width:1200px){
						padding: 0;
					}
				}
				.select-pais{
					padding-left: 0px;
				}
				label {
					font-family: $source;
					font-size: 12px;
					color: $black;
					margin: 0px;
				}
				select,
				input {
				    background: transparent;
				    border-style: none;
				    box-shadow: none;
				    border-bottom-style: solid;
				    border-width: 1px;
				    border-radius: 0;
				    border-color: $black;
				    -webkit-appearance: none;
			        cursor: text;
			        margin-top: -7px;
			        padding-bottom: 0;
				    padding-left: 0;
					font-family: $source;
					color: #555555;
				}
				select {
					cursor: pointer;
				}
				textarea {
				    background: transparent;
				    box-shadow: none;
				    border-style: solid;
				    border-width: 1px;
				    border-radius: 0;
				    border-color: $black;
					height: 150px !important;
					font-family: "Muli",sans-serif;
					@media(min-width: 850px) and (max-width: 1050px) and (orientation: landscape)
					{
						max-height:100px;
					}
				}
				#mailing-send {
					width: initial;
					background: #222;
				    color: #fff;
				    border-style: none;
				    box-shadow: none;
			       	font-size: 15px;
    				padding: 10px 25px;
				}
				i {
					float: right;
				    margin-top: -25px;
				    margin-right: 15px;
				    font-size: 20px;
				    color: #523074;
				    pointer-events: none;
				}
			}
		}
		.icon-ball {
			width: 85px;
			height: 85px;
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			display: flex;
			i {
				margin: auto;
				font-size: 35px;
				color: $black;
			}
		}
	}
	#section2 {
		#col-1 {
			min-height: 150px;
			background: $grey;
			position: relative;
			.where {
				position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    .icon-ball {
					width: 85px;
					height: 85px;
					border-radius: 50%;
				    display: inline-block;
    				position: relative;
					background: #fff;
					margin-right: 5px;
					i {
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%, -50%);
						font-size: 35px;
						color: $black;
					}
				}
				h1 {
					color: $black;
					font-size: 28px;
				    display: inline-block;
				    vertical-align: top;
				    margin-top: 30px;
				    font-weight: 600;
				}
			}
		}
		#col-2,
		#col-3 {
			min-height: 150px;
			background: $grey;
			text-align: center;
			div {
				text-align: left;
				display: inline-block;
   	 			margin: auto;
				h3 {
					color: $black;
				}
				p {
					font-family: $source;
					margin: 0px;
					font-weight: 600;
				}
			}
		}
		#col-3 {
			@media screen and (min-width:991px) and (max-width:1024px) {
				padding-left: 50px;
			}
		}
		#col-4 {
			min-height: 196px;
			background: $green;
			text-align: center;
			padding-top: 1.3%;
			div {
				h3 {
					color: $black;
				}
				p {
					font-family: $source;
					margin: 0px;
					margin-bottom: 5px;
					font-weight: 600;
				}
				button {
					width: initial;
					background: #222;
				    color: #fff;
				    border-style: none;
				    box-shadow: none;
			       	font-size: 15px;
    				padding: 10px 25px;
    				margin: auto;
				}
			}
		}		
	}
	@media screen and (min-width:990px) {
		#section2
		{
			.row
			{
				background-color: #ededed;
				margin: 0 auto;
				width: 100%;
				.align_coluns
				{
					width: 100%;
					height:auto;
					.row
					{
						padding: 10px 0;
						float: left;
						width: 75%;

						.col-md-3
						{
							width: 33.3%;
						}
					}

					div#col-1
					{
						min-height: 178px !important;
					}				

					div#col-4
					{
						min-height: 198px !important;						
					}
				}
			}
		}
	}

	@media screen and (min-width:540px) and (max-width:990px) {
		select#cidade {
		    padding: 0;
		}

		#section2  
		{		
			.row
			{
				width: 100%;
				margin: 0 auto;
			}

			.align_coluns
			{
				.row
				{
					background-color: #ededed;
					width: 100%;
					margin: 0 auto;
					#col-1
					{
						.where
						{
							margin: 0 auto;
							width: 43% !important;
							h1
							{
								float: left !important;
							}
						}
					}

					#col-2
					{
						float: left;
						width: 50%;
					}


					#col-3
					{
						float: right;
						width: 50%;
					}	

					.col-md-3
					{
						padding: 0px 6%;
						div
						{
							width: 100%;				
						}

					}
				}

				div#col-4 {
				    margin-top: 20px !important;
				}					
			}	
		}
	}
	@media screen and (max-width: 990px) {

		#section1
		{

			.form
			{
				#mailing-form
				{
					.select-city
					{
						padding-left: 0;
						margin-top: 20px;
					}
				}
			}

			.col-md-6.img
			{
				padding: 0;
				min-height: 335px;
				border-right: none;
				margin-bottom: 20px;

				h2
				{
					margin: 14% 3%;
				}
			}

			.col-md-6.form 
			{
				padding: 6% 5% 5% 5% !important;
				border-left: 0 !important;
			}

			.icon-ball {
			    top: 27% !important;
			    display: none;
			}
		}

		#section2
		{
			border: 0;
			.row
			{
				width: 100%;
				margin:0 auto;
				.align_coluns
				{
					.row
					{

						border:none !important;
						#col-1
						{

							min-height: inherit !important;
							padding-top: 6%;

							.where
							{
								width: 100%;
								position: relative !important;
								min-height: 90px;
								transform: inherit !important;

								.icon-ball
								{
									float: left;						
								}

								h1
								{
									float: right;
									width: 64%;
									font-size: 18pt !important;
								}
							}
						}

						#col-2, #col-3
						{
							div
							{
								width: 100% ;
								padding-left: 20px ;
							}
						}

						#col-3 {
						    padding-bottom: 4%;
						}
					}

					#col-4
					{
					    padding-top: 4%;
						margin-top: 6%;
						padding-bottom: 8%;
					}
				}	
			}
		}
	}

	@media screen and (min-width: 1400px) and (max-width: 1500px)
	{
		#section2
		{			
			.row
			{				
			 	.align_coluns
				{
					#col-2, #col-3
					{
						width: 30%;
					}

					#col-3
					{
						margin-left: 2.3%;
					}
				}
			}
		}
	}

	@media screen and (min-width: 1500px)
	{
		#section2
		{			
			.row
			{				
			 	.align_coluns
				{
			 	 	#col-2, #col-3
			 	 	{
						width: 28%;
			 	 	}

			 	 	#col-3
			 	 	{
			 	 		margin-left: 4%;
			 	 	}
				}
			}
		}
	}	
}