#all {
	.faq {
		.perguntas-frequentes {
			margin-bottom: 80px;
			h2 {
				font-size: 50px;
				color: #523074;
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;
				margin-top: 50px;
				margin-bottom: 50px;
			}
			.nav-tabs {
				border: none;
			}
			.nav-tabs>li {
				width: 100%;
				border: none;
				.term-text {
					color: #979797;
					border: none;
					text-transform: uppercase;
					font-size: 18px;
					font-weight: 700;
					text-align: right;
					transition: .5s;
					&:hover {
						color: #523074;
					}
				}
			}
			.col-categorias {
				border-right: 15px solid #00e8ff;
				padding-bottom: 40px;
			}
			.panel-default>.panel-heading {
				background-color: transparent;
				border: none;
				h4 {
					a {
						color: #523074;
						font-size: 18px;
						font-family: "Muli",sans-serif;

					}
				}
			}
			.panel-group .panel {
				border: none;
				box-shadow: none;
			}
			.panel-body {
				border: none;
				font-family: "Muli",sans-serif;
				padding-top: 0px;
				p {
					font-size: 16px;
					font-family: "Muli",sans-serif;
					color: #222222;
				}
				@media(min-width: 540px) and (max-width: 990px)
				{
					p
					{
						width: 82%;
					}
				}
			}
			@media(max-width:767px){
				margin-bottom: 0;
				h2 {
					font-size: 40px;
				}
				.col-categorias {
					border: none;
					padding-bottom: 0;
				}
				.nav-tabs>li {
					.term-text {
						&:hover {
							color: #979797;
						}
					}
				}
				.panel-heading, .panel-body {
					padding: 10px 0px;
				}
			}
		}
		.ainda-confuso {
			background: #ededed;
			padding-bottom: 50px;
			text-align: center;
			h5 {
				font-size: 26px;
				text-transform: uppercase;
				color: #523074;
				font-weight: 700;
			}
			img {
				margin: auto;
			    display: block;
			    background: $white;
			    border-radius: 50%;
			    padding: 20px;
			    margin-bottom: 20px;
			    margin-top: 50px;
			}
			.btn-fale-conosco-faq {
				margin-top: 35px;
				a {
					background: #000;
					color: #ffffff;
					padding: 6px 20px;
					text-transform: uppercase;
					font-size: 15px;
					border-radius: 5px;
				}
			}
			@media(max-width:767px){
				h5 {
					font-size: 24px;
				}
			}
		}
		.container-faq-mobile {
			padding: 0;
		}
	}
}