/* ​* *​ *​ *​ * ​* */
/*​             ​*/
/*​   Footer    ​*/
/*​             ​*/
/*​ ​* *​ *​ *​ * * */

footer {
	background-color: $black;
	min-height: 300px;
	padding: 20px 6.5%; 
	@media screen and (max-width: 990px) {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.widgets_footer {
		h3 {
			font-size: 15px;
			color: #fff;
			text-transform: uppercase;
		}
		a {
			font-family: $source;
			font-size: 13px;
			font-weight: normal;
			opacity: 0.6;
			color: #ffffff;
		    span{
		    	display: block;
		    	font-family: $source;
		    	font-size: 11px;
		    	font-weight: 100;
		    }
		    &:hover{
		    	opacity: 1;
		    }
		    &:focus {
		    	color: $white;
		    	text-decoration: none;
		    	outline: none;
		    }
		}
		.contato {
			a {
				font-size: 15px;
				font-weight: 500;
				opacity: 1;
			}
		}
		.pin {
			display: flex;
			height: 62px;
			i {
			    font-size: 25px;
			    color: #fff;
			    margin: auto 100%;
			}
			@media(max-width:991px){
				padding: 0;
				float: left;
				margin-right: 20px;
				i {
					margin: auto 0;
				}
			}
		}
	}

	#col-5 {
		padding-left: 0;
		&.map{
			padding-left: 2.5%;
			.row{
				margin: 0;

				.pin{
					padding-left: 0;
					width: 0px;
				}
				h3{				
					margin-top: 0;
					margin-bottom: 5%;
				}
				div{
					margin-bottom: 5%;
				}
			}			
		}
		.textwidget {
		    margin-top: 20px;
			div {
				margin-bottom: 35px;
				span {
				    color: $blue;
				    font-size: 14px;
				    font-weight: 500;
				    font-family: $source;
				}
				p {
					font-family: $source;
					font-weight: 500;
					color: #fff;
					margin: 1px;
					@media(max-width:767px){
						display: table;
					}
				}
			}
		}
	}

	.face{
		padding-right: 0;
		margin-bottom: 3%;
		.textwidget{
			margin-top: 4%;
		}
	}

	#social {
		i {
			color: #fff;
			font-size: 30px;
			margin-bottom: 10px;
		}
	}

	#division {
	    height: 1px;
    	background: #fff;
    	opacity: 0.1;
    	margin-bottom: 20px;
	}

	#bot-footer {
		p {
			color: #fff;
		    font-size: 14px;
		    font-weight: 500;
		    font-family: $source;
		    opacity: 0.6;
		}
		img {
		    float: right;
		    width: 15%;
		    margin-top: 7px;
		    opacity: 0.4;
		}
		.footer-logo{
			width: 40%;
			margin-top: 0;
		}
	}
	.coluna-conteudo-mobile {
		a {
			color: #00e8ff;
			font-size: 14px;
    		font-weight: 500;
    		opacity: 1;
		}
	}
}

#footer-fixed {
	height: 125px;
	#footer-img {
		background: url(../img/footer.svg);
		background-size: cover;
		bottom: 0;
		height: 120px;
		position: fixed;
		z-index: -1;
	}
	#footer-logo {
		bottom: 0;
		position: fixed;
		right: 5px;
		text-align: right;
		z-index: -1;
		svg { 
			height: 120px;
			width: auto;
			float: right;
			background: $white;
			path,
			polygon {
				fill: $black;
			}
		}
	}
}

@media screen and (max-width: 990px)
{
	#footer
	{
		#col-1, #col-2, #col-3
		{
			display: none !important;
		}

		#col-4
		{
			.textwidget
			{
				p
				{
					display: none;
				}
			}
		}
	}
}