@import "_variable.scss";

#banner {
	.parallax-window {
		margin-top: 20px;
	}
}

#all .cont #content #container #content{
	padding:0 !important;
}

.scroll_move {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s;
    border: 20px solid #fff;
}


@media(min-width: 1122px) and (max-width: 1190px)
{	
	.row.header-comprar .col-lg-5
	{
		margin-top: 5%;
		width: 45%;
		margin: 2% auto;				
	}

	.col-lg-7
	{
		margin: 0 auto;
		ul
		{
			float: none !important;
			width: auto;
		}
	}
}
	

.woocommerce {
	#all{
		.woocommerce-breadcrumb{
			background: #f6f6f6;
			color: $black;	
			font-family: $source;
			font-size: 11px;
			font-weight: bold;
			margin: 0 0 20px;
			padding: 15px 70px;
			text-transform: uppercase;
			@media(max-width:767px){
				padding: 8px;
				font-size: 8px;
			}
			i{
				color: #a3a2a2;
			}
			a{
				color: $black;	
				font-family: $source;
				i{
					color: #a3a2a2;
				}
			}
			span{
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
}

#all{
	.section-produtos{
		.nav-highlight{
			background: $black;
			margin: 0 0 20px;
			overflow: hidden;
			padding: 15px 70px;
			&.scroll_move
			{
				border-bottom: 21px solid #fff;
				@media(max-width: 769px){
					.col-xs-12.col-sm-12.col-md-9.col-lg-7 {						
						ul {
							display: none;
						}
					}

					.col-xs-12.col-sm-12.col-md-3.col-lg-5
					{
						.hidden-xs
						{
							width: 100%;
							display: block !important;
							li
							{
								margin-left: 0;
							}							
						}
					}
				}
			}

			@media(max-width:767px){
				padding: 10px;
				.icon-1, .icon-3 {
				width: 50%;
				float: left;
				margin-left: 0;
				margin-bottom: 10px;
				}
				.icon-2, .icon-4 {
					width: 50%;
					float: right;
					margin-left: 0;
					margin-bottom: 10px;
				}
			}
			span.title{
				color: #fff;
				display: block;
				float: left;
				font-family: $source;
				font-size: 30px;
				height: 40px;
				line-height: 40px;
			}
			h2 {
				display: none;
				@media(max-width:767px){
					margin-top: 0;
					margin-bottom: 20px;
					color: $white;
					display: block;
				}
			}
			ul{
				float: left;
				margin: 0;
				padding: 0;
				@media(max-width:767px){
					padding-left: 15px;
					width: 100%;
				}
				li{
					color: #fff;
					float: left;
					font-size: 14px;
					margin-left: 30px;
					list-style: none;
					img{
						float: left;
						height: 40px;
						width: auto;
						margin-right: 10px;
						@media(max-width:767px){
							height: 30px;
						}
					}
					em{
						display: block;
						float: left;
						font-family: $source;
						font-style: normal;
						font-weight: 400;
						@media(max-width:767px){
							font-size: 12px;
						}
					}
				}
			}
			ol{
				float: right;
				margin: 0;
				padding: 0;
				@media(max-width:767px){
					text-align: center;
					float: none;
				}
				@media screen and (min-width:767px) and (max-width:1200px){
					float: none;
					text-align: center;
				}
				li{
					float: left;
					list-style: none;
					margin-left: 10px;
					@media(max-width:767px){
						font-size: 14px;
						margin-left: 0;
					}
					@media screen and (min-width:991px) and (max-width:1200px){
						float: none;
						margin-bottom: 20px;
					}
					@media(max-width:991px){
						margin-top: 20px;
						float: none;
					}
					a{
						border-radius: 5px;
						border: 2px solid $green;
						color: $green;
						display: block;
						padding: 10px 25px;
						text-transform: uppercase;
						&.solid{
							background: $green;
							color: $black;
						}
					}
				}
			}
		}

		.produto-content{
			.gallery{
				img{
					margin-bottom: 20px;
					width: 100%;
				}
				.gallery-slider{
					margin-bottom: 20px;
					position: relative;
					img{
						margin-bottom: 0;
					}
					.item{
						background: #f6f6f6;
						span{
							bottom: 0;
							color: #000;
							display: block;
							font-family: $source;
							font-size: 11px;
							font-style: normal;
							font-weight: bold;
							left: 0;
							padding: 10px;
							position: absolute;
						}
					}
					.owl-controls{
						left: 0;
						margin-top: -25px;
						margin-top: 0;
						position: absolute;
						top: 50%;
						width: 100%;
						.owl-buttons{
							.owl-prev,
							.owl-next{
								background: none;
								border-radius: 0;
								color: #c0c0c0;
								display: block;
								float: left;
								font-size: 50px;
								height: 50px;
								line-height: 40px;
								margin: 0;
								opacity: 1;
								padding: 0 10px;
							}
							.owl-next{
								float: right;
							}
						}
					}
				}

				.row{
					margin: 0 -10px;
					.col-xs-6{
						padding: 0 10px;
					}
				}
			}
		}

		.produto-description{
			p{
				color: #000;
				font-family: $source;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				strong{
					font-family: $source;
					font-weight: 400;
				}
				&.bula{
					font-size: 11px;
					a{
						color: #000;
						font-family: $source;
					}
				}
			}
			h1.produto-title{
				font-size: 50px;
				font-weight: bold;
				margin: 0 0 20px;
				span{
					display: block;
					font-size: 32px;
				}
			}
			dl{
				margin-top: 20px;
    			margin-bottom: 0;
				dt{
					font-size: 18px;
					text-transform: uppercase;
					i{
						color: $black;
						transform: scale(1.2);
						margin-right: 7px;
					}
				}
			}
		}

		.produtos-description-accordion{
			border-bottom: 2px solid $blue;
			padding-top: 50px;
			dl{
				border-top: 2px solid $blue;
				margin: 0;
				dt{
					cursor: pointer;
					padding: 15px 5px;
					position: relative;
					&:before{
						color: $black;
						content: '\f107';
						display: block;
						font-family: "FontAwesome";
						font-size: 30px;
						position: absolute;
						right: 0;
						top: 5px;
					}
					&.active{
						&:before{
							content: '\f106';
						}
					}
				}
				dd{
					display: none;
					padding: 0 0 5px;
				}
			}
		}

		&.gelificador{
			.nav-highlight{
				background: $black;
				ol{
					li{
						a{
							border: 2px solid $green;
							color: $green;
							&.solid{
								background: $green;
								color: $black;
							}
						}
					}
				}
			}
			.produto-description{
				dl{
					dt{
						i{
							color: $black;
						}
					}
				}
			}
		}

		&.spray{
			.nav-highlight{
				background: $blue;
				span.title{
					color: $black;
				}
				ul{
					li{
						color: $black;
					}
				}
				ol{
					li{
						a{
							border: 2px solid $black;
							color: $black;
							&.solid{
								background: $black;
								color: $blue;
							}
						}
					}
				}
			}
			.produto-description{
				dl{
					dt{
						i{
							color: $black;
						}
					}
				}
			}
		}

		&.membracel{

			@media(max-width: 480px)
			{
				p, div
				{
					font-size: 18px !important; 
				}
			}

			.nav-highlight{
				background: $black;
				ol{
					li{
						a{
							border: 2px solid $green;
							color: $green;
							&.solid{
								background: $green;
								color: $black;
							}
						}
					}
				}
			}

			.produto-description{
				dl{
					dt{
						i{
							color: $black;
						}
					}
				}
			}

			hr {
				border-top-color: $black;
				margin-bottom: 40px;
				margin-top: 40px;
			}

			.produtos-indicacoes{
				h4{
					background: $black;
					color: #fff;
					font-size: 40px;
					font-weight: bold;
					margin: 0 0 20px;
					padding: 30px 0;
					text-align: center;
					@media(max-width:767px){
						font-size: 30px;
					}
				}

				.article{
					margin: 0 -10px;
					overflow: hidden;

					@media(min-width: 550px) and (max-width: 990px)
					{
						.row
						{
							.col-sm-6
							{
								width: 100%; 
							}
						}						
					}

					.item{
						display: block;
						float: left;
						padding: 0 10px;
						width: 50%;
						@media(max-width:767px){
							width: 100%;
						}
						article{
							background: #f6f6f6;
							padding: 50px;
							@media(max-width:767px){
								padding: 20px;
							}
							img{
								width: 100%;
							}
							h5{
								color: $black;
								font-size: 24px;
								font-weight: bold;
								line-height: normal;
								margin: 0 0 5px;
							}
							p{
								color: #000;
								font-family: $source;
								font-size: 15px;
								font-weight: 400;
								line-height: 24px;
								strong{
									font-family: $source;
									font-weight: bold;
								}
							}
							dl{
								border-top: 2px solid $black;
								margin: 30px 0 0;
								padding-top: 30px;
								@media(max-width:767px){
									margin: 15px 0 0;
								}
								dt{
									color: $black;
									font-size: 20px;
									text-transform: uppercase;
								}
								dd{
									p{
										margin: 0;
									}
								}
							}
						}
					}
				}
			}

			.produtos-tamanhos{
				background: #f6f6f6;
				margin: 20px 0 0;
				padding: 50px;
				text-align: center;

				.example
				{
					dd
					{
						img
						{
							width: 77%;
						}

						.img-circulares
						{
							width: 65%;
						}
					}
				}

				.row
				{
					position: relative;
					
					.dest {
					    margin-top: 13%;
					}					
					
					div:last-child
					{						
						@media(max-width: 990px){
							position:relative;
							bottom: inherit; 
							right: inherit; 
							float:none;

							dl.highlight
							{
								margin-top: 10px;
							}
						}
					}
				}

				@media(min-width: 550px) and (max-width: 990px)
				{
					.example
					{
						dd
						{
							img
							{
								width: 100%;
							}
						}
					}					
				}

				@media(max-width:767px){
					padding: 20px;
				}
				h3{
					color: $black;
					font-size: 40px;
					font-weight: bold;
					margin: 0 0 10px;
					text-align: center;
					@media(max-width:767px){
						font-size: 25px;
					}
				}
				p{
					color: #000;
					font-family: $source;
					font-size: 15px;
					font-weight: 400;
					line-height: 24px;
				}

				.highlight{
					margin: 50px 0 30px;
					text-align: left;
					dt{
						color: $black;
						font-size: 22px;
						font-weight: bold;
						line-height: normal;
						text-transform: uppercase;
					}
					dd{
						color: #000;
						font-family: $source;
						font-size: 15px;
						font-weight: 400;
						line-height: 24px;
					}
				}

				.example{
					margin: 0 0 30px;
					text-align: left;
					dt{
						color: #000;
						font-size: 20px;
						margin-bottom: 5px;
					}
				}
			}
		}

		.show-more-content{
			display: none;
		}

		.show-more-button{
			background: none;
			border: none;
			color: #222;
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			span{
				display: block;
				float: right;
				font-size: 20px;
				margin-left: 10px;
			}
		}

		.list-info-check{
			margin: 0 0 50px;
			padding: 0;
			li{
				font-family: $source;
				font-size: 16px;
				font-weight: normal;
				line-height: normal;
				list-style: none;
				margin: 0 0 20px;
				padding: 0 0 0 30px;
				position: relative;
				@media(max-width:767px){
					font-size: 14px;
				}
				i{
					color: $black;
					display: block;
					font-size: 20px;
					left: 0;
					position: absolute;
					top: 0;
				}
			}
		}

	}
}

.produtos-highlight{
	background: #fff;
	width: 100%;
	.row{
		margin: 0 -10px;
		.col-md-3{
			padding: 0 10px;
		}
	}
	h2 {
		background: $black;
		color: #fff;
		font-size: 36px;
		font-weight: 600;
		margin: 0 0 20px;
		padding: 30px;
		text-align: center;
		@media(max-width:767px){
			font-size: 28px;
		}
	}
	dl{
		padding: 30px;
		position: relative;
		overflow: hidden;
		dt{
			margin-bottom: 20px;
			position: relative;
			text-align: center;
			a{
				display: block;
				position: relative;
				overflow: hidden;
				span{
					display: block;
					transition: all 0.6s;
					img{
						max-width: 100%;
					}
					&.image-hover{
						height: 100%;
						left: 0;
						opacity: 0;
						position: absolute;
						top: 0;
						transform: scale(0.5);
						width: 100%;
					}
				}
				&:hover{
					span{
						&.image-thumb{
							opacity: 0;
							transform: scale(0.5);
						}
						&.image-hover{
							opacity: 1;
							transform: scale(1);
						}
					}
				}
			}
			&:after {
				border-radius: 5px;
				display: none;
				font-size: 14px;
				font-weight: normal;
				line-height: normal;
				padding: 5px 20px 5px 10px;
				position: absolute;
				right: -50px;
				top: 20px;
			}
		}
		dd{
			padding-bottom: 30px;
			h3 {
				font-size: 30px;
				font-weight: 600;
				line-height: 30px;
				margin: 0 0 10px;
				span {
					display: block;
					font-size: 20px;
					padding-top: 5px;
				}
			}
			p {
				font-size: 14px;
				font-family: $source;
				margin: 0 0 20px;
			}

			a.btn-block {
				bottom: 30px;
				color: transparent;
				display: block;
				font-size: 15px;
				left: 30px;
				padding: 10px 25px;
				position: absolute;
				width: initial;
			}
		}
		&.produto-membracel-membrana-regeneradora-porosa{
			background: $black;
			dt{
				&:after{
					background: $green;
					color: $black;					
					display: block;
				}
			}
			dd{
				h3 {
					a{
						color: $green;
					}
				}
				p {
					color: #fff;
				}
				a.btn-block {
					background: $green;
					color: $black;
				}
			}
		}
		&.produto-membracel-membrana-regeneradora-sem-poros{
			background: $black;
			dt{
				&:after{
					background: $blue;
					color: $black;					
					display: block;
				}
			}
			dd{
				h3 {
					a{
						color: $blue;
					}
				}
				p {
					color: #fff;
				}
				a.btn-block {
					background: $blue;
					color: $black;
				}
			}
		}
		&.produto-membracel-membrana-regeneradora-sem-poros{
			background: $black;
			dt{
				&:after{
					background: $blue;
					color: $black;
					content: 'SEM POROS';
					display: block;
				}
			}
			dd{
				h3 {
					a{
						color: $blue;
					}
				}
				p {
					color: #fff;
				}
				a.btn-block {
					background: $blue;
					color: $black;
				}
			}
		}
		&.produto-gelificador-para-bolsas-de-estomia{
			background: $green;
			dd{
				h3 {
					a{
						color: $black;
					}
				}
				p {
					color: $black;
				}
				a.btn-block {
					background: $black;
					color: $green;
				}
			}
		}
		&.produto-spray-de-barreira-protetor-cutaneo{
			background: $blue;
			dd{
				h3 {
					a{
						color: $black;
					}
				}
				p {
					color: $black;
				}
				a.btn-block {
					background: $black;
					color: $blue;
				}
			}
		}
	}
	@media (min-width: 990px) {
		dl{
			dt{
				a{
					span{
						img{
							max-width: 70%;
						}
					}
				}
			}
		}
	}
	@media (max-width: 1400px) {
		dl{
			dt{
				margin-bottom: 20px;
			}
			dd{
				h3 {
					font-size: 24px;
					line-height: 20px;
					span {
						font-size: 13px;
						font-weight: normal;
						padding-top: 5px;
					}
				}
				p {
					font-size: 14px;
					line-height: 20px;
					margin: 0 0 20px;
				}
				a.btn-block {
					font-size: 15px;
					padding: 10px 25px;
				}
			}
		}
	}
	@media (min-width: 768px) {
		dl{
			dt{
				a{
					span{
						img{
							max-width: 50%;
						}
					}
				}
			}
		}
	}
}

#modal-produto.modal{
	.modal-dialog{
		max-width: 800px;
		width: 100%;
		.modal-body{
			padding: 30px;
			figure{
				display: block;
				text-align: center;
				img{
					width: 100%;
				}
			}
			h2.modal-title{
				color: #000;
				font-size: 26px;
				font-weight: bold;
				line-height: normal;
				margin: 0 0 20px;
				span{
					display: block;
					font-family: $source;
					font-size: 14px;
					font-weight: normal;
				}
			}
			.variations{
				margin-bottom: 20px;
				width: 100%;
				td.label{
					border-radius: 0;
					color: $black;
					display: block;
					font-size: 16px;
					font-weight: bold;
					line-height: normal;
					padding: 12px 10px 0 0;
					text-align: inherit;
					text-transform: uppercase;
					vertical-align: top;
					label{
						margin: 0;
					}
				}
				td.value{
					display: block;
					padding: 0;
					select{
						background-color: #fff;
						background-image: none;
						border-radius: 4px;
						border: 1px solid #ccc;
						color: #555;
						font-family: $source;
						font-size: 14px;
						height: 34px;
						line-height: 1.42857143;
						padding: 6px 12px;
						width: 100%;
					}
					.reset_variations{
						display: none !important;
					}
				}
			}
			.single_variation_wrap{
				.woocommerce-variation{
					.woocommerce-variation-availability{
						display: none;
					}
					.woocommerce-variation-description{
						p{
							background: $black;
							color: #fff;
							font-family: $source;
							font-size: 14px;
							font-weight: bold;
							line-height: normal;
							margin: 0 0 20px;
							padding: 15px;
							text-align: center;
						}
					}
				}
				.woocommerce-variation-add-to-cart.variations_button{
					.quantity-select{
						float: left;
						padding-right: 20px;
						width: 20%;
						select{
							height: 45px;
							text-align: center;
						}
					}
					button.single_add_to_cart_button{
						background: $black;
						color: #fff;
						float: left;
						padding: 15px 20px;
						text-align: center;
						text-transform: uppercase;
						width: 80%;
					}
				}
				overflow: hidden;
			}
			.helper-link{
				border-top: 1px solid #ccc;
				padding-top: 20px;
				margin-top: 20px;
				a{
					color: $black;
					font-family: $source;
					font-size: 14px;
					display: block;
					margin: 0 0 10px;
				}
			}
		}
	}
}

.align-animate {
    width: 100%;
    position: relative;        
    min-height: 570px;
    margin-bottom: 3%;
    
    .ajuda_align {
        position: relative;
        width: 33%;
        height: 300px;
        float: left;
    }        

    .align {
        position: relative;
        width: 100%;
        height: 100%;

        .pivot {
            left: 50%;
            bottom: 0;
        }            
    }
    .align_texto_animate { 
        position: absolute;
        width: 68%;
        bottom: 2%;
        left: 0;
        height: 2px;

        .title_anime {
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
            color: #533074;
            line-height: 28px;
            font-size: 22pt;
        }    

        .cont {
            font-family: 'Muli', sans-serif;
            font-weight: bold;
            font-size: 11pt;
            margin-top: 8%;
        }                    
    }        
}

.section-como-funciona {
	h3 {
		color: #4e3b88;
	    font-size: 40px;
	    font-weight: bold;
	    margin: 0 0 10px;
	    text-align: left;
	}
	p {
		font-size: 16px;
		font-family: 'Muli', sans-serif;
		font-weight: bold;
	}
}

.img-circulares {
	width: 65%;
}

.spray {
	.nav-highlight {
		li {
			@media(max-width:768px){
				margin-left: 0px !important;
				margin-right: 15px;
				margin-bottom: 10px;
			}
		}
		ol {
			@media(max-width:768px){
				float: none !important;
				text-align: center;
			}
		}
	}
}