/* ​* *​ *​ e* ​* */
/*​            ​*/
/*​   Sobre    ​*/
/*​            ​*/
/*​ ​* *​ *​ e* * */

#sobre {
	#section1 {
		background: url(../img/side.svg);
	    background-size: 108px 612px;
	    background-position: top right;
	    background-repeat: repeat-y;
	    #novas {
	    	text-align: right;
	    	margin-left: 55px;
	    	padding-right: 0px;
	    	.ajust {
	    		// margin-left: 55px;
	    		float: left;
		    	div {
		    		display: inline-block;
					margin-left: -4px;
					letter-spacing: 2px;
				    font-size: 115px;
				    line-height: 130px;
				    font-weight: 600;
				    &:nth-child(1),
				    &:nth-child(2) {
				    	color: $blue;
				    }
				    &:nth-child(4),
				    &:nth-child(5),	
				    &:nth-child(7),
				    &:nth-child(8) {
				    	color: $black;
				    }
				    &:nth-child(10),
				    &:nth-child(11) {
				    	color: $black;
				    	border-bottom-style: solid;
				    	border-bottom-width: 14px;
				    	border-bottom-color: $blue;
				    }
		    	}
		    }
	    }
	    #title {
    	    margin-top: 33px;
    	    margin-bottom: 30px;
	    	font-size: 40px;
	    	@media(max-width:767px){
	    		font-size: 22px !important;
	    	}
	    	span {
	    		color: $black;
	    		border-bottom-style: solid;
		    	border-bottom-width: 8px;
		    	border-bottom-color: $blue;
	    	}
	    }
	    #content {
    	    font-size: 18px;
		    font-weight: 400;
		    text-align: justify;
		    color: #222222;
		    @media(max-width:767px){
		    	text-align: left;
		    }
		    p {
		    	font-family: $source;
		    	@media screen and (min-width:991px) and (max-width:1024px){
			    	padding-right: 60px;
			    }
		    }
	    }
	    #quadros {
	    	margin-top: 130px;
	    	float: right;
	    	#essencia {
	    		color: $black;
	    		background: $blue;
			    padding: 50px;
			    position: relative;
	    		h2 {
	    			font-size: 60px;
	    			position: absolute;
	    			top: -60px;
	    			font-weight: 600;
	    		}
	    		div {
				    font-size: 22px;
				    color: #fff;
				    display: block;
				    font-family: $source;
				    font-weight: 600;
				    width: 80%;
	    		}
	    	}
	    	#missao {
	    		color: $blue;
	    		text-align: right;
	    		background: $black;
			    padding: 50px;
    			margin: 90px 0px 0px -130px;
	    		position: relative;
	    		@media screen and (min-width:767px) and (max-width:1024px){
	    			margin: 90px 0px 0px -70px;
	    		}
	    		h2 {
	    			font-size: 60px;
	    			position: absolute;
    			    top: -60px;
    				right: 50px;
	    			font-weight: 600;
	    		}
	    		div {
	    			text-align: left;
				    font-size: 22px;
				    color: #fff;
				    display: block;
				    font-family: $source;
				    font-weight: 600;
				    span {
				    	color: $blue;
				    }
	    		}
	    	}
	    }
	}
	#section2 {
		margin-top: 70px;
	    #banner-sobre {
    		background: url(../img/banner-sobre.jpg);
    		background-size: cover;
    		height: 440px;
    		padding: 40px;
    		.content {
    			width: 100%;
    			height: 100%;
			    border-style: solid;
			    border-color: #fff;
			    border-width: 10px;
			    display: flex;
			    h2 {
		    	    margin: auto 50px;
				    font-size: 60px;
				    color: #fff;
				   	font-weight: 600;
			    }
    		}
    	}
	}
	#section3 {
		margin-top: 70px;
		margin-bottom: 3%;
		@media(max-width:767px){
			margin-top: 0;
		}
		h2 {
			text-align: center;
			font-size: 60px;
			color: $black;
			font-weight: 600;
		}
		.produtos {
			width: 100%;
			margin-bottom: 20px;
			img {
				margin: auto;
			    display: block;
			    width: 50%;
			}
			a {
				color: #222222;
				h5 {
					font-size: 20px;
					color: #492068;
					font-weight: 700;
					line-height: 22px;
					margin-top: 30px;
					@media(max-width:767px){
						font-size: 22px;
					}
				}
				span {
					font-size: 12px;
					text-transform: uppercase;
					color: #222222;
					display: block;
					margin-top: 10px;
					line-height: 18px;
					@media(max-width:767px){
						font-size: 16px;
					}
				}
			}
			.info {
				margin-bottom: 20px;
			}
			.botoes-produtos-sobre {
				text-align: center;
				margin-top: 40px;
				@media(max-width:767px){
					margin-top: 0;
				}
				a {
					background: #000;
					color: #ffffff;
					padding: 10px 25px;
					text-transform: uppercase;
					font-size: 15px;
					border-radius: 5px;
				}
				span {
					font-size: 18px;
					color: #582c78;
					text-transform: uppercase;
					margin: 0px 10px;
					font-weight: 700;
				}
				@media(max-width:767px){
					line-height: 45px;
					a {
						font-size: 12px;
					}
				}
			}
			@media(max-width:767px){
				h5, p {
					text-align: center;
				}
				img {
					width: 100%;
				}
			}
		}
	}
}

@media(max-width:767px){
	#sobre {
		#quadros {
			#missao {
				margin: 20px 0 0 0 !important;
			}
		}
		#section2 {
			margin-top: 20px !important;
		}
	}
}

@media screen and (max-width: 999px) {
	#sobre
	{
		#section1
		{
			background: none;

			#content
			{
				padding: 0 !important;
			}

			#quadros {
			    margin-top: 0 !important;
			    padding: 0;

			    #essencia
			    {
			    	animation-name: inherit;
					padding: 2% 0 5% 6%;
					
					div
					{
						width: 100%;
					}

					h2
					{
						position: relative !important;
						top: inherit !important;						
					}
			    }

			    #missao {
					margin: 20px 0 0 0;
					width: 100%;
					padding: 1% 3% 7% 6%;
					animation-name: inherit;

				    h2 
				    {
					    position: relative !important;
					    top: inherit !important;
					    text-align: left;
					    right: inherit !important;
					}
				}
			}
	
			#title
			{
			    font-size: 18pt;
			    padding: 0;
			}

			#novas
			{
				text-align: left;
				padding: 0;
				margin: 0;
				.ajust
				{
					div
					{
						font-size: 97px;
						line-height: 108px;
					}

					div:nth-child(1), div:nth-child(2)
					{
						line-height: 98px;
					}				

					div:nth-child(10), div:nth-child(11)
					{
						line-height: 78px;
						padding-bottom: 17px !important;
					}
				}
			}
		}

		#section2
		{
			margin-top: 20px;

			#banner-sobre
			{
				
				background-repeat: no-repeat;
				height: auto;

				.content
				{
					h2
					{
						margin: 8% 0 5% 15px !important;
						font-size: 24pt !important;						
					}
				}
			}
		}
		#section3 {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}