
/*Cores do site*/

$none : transparent;
$black : #2c2828;
$dourado : #d9b878;
$blue : #1e77bf;
$grey : #e5e5e5;
$grey2  :  #222222;
$green : #dbfb02;
$white : #fff;
$yellow : #fec73c;
$face : #3b5998;
$whats : #1a9f10;

$source: 'Source Sans Pro', sans-serif;
$oswald: 'Oswald', sans-serif;